@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Kaushan+Script&family=Satisfy&display=swap');



/*============================================================ Home page css=============================================================== */
*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color:white;
}
.h-menu{
    list-style: none;
    padding: 0;
}
.h-menu a{
    text-decoration: none;
}
.h-slider img{
    vertical-align: bottom;
}
.h-logo{
    width: 100%;
    padding:0 15px;
    margin: 0 auto;
}

.h-header{
    position: absolute;
    z-index: 1;
    line-height: 131px;
    width: 100%;
}
.h-menu{
    float: right;
    transform:translateX(300px);
}

.h-logo-col span{
    color: #d64d55;
    display: block;
}
.h-text1{
    font-size:70px;
    font-weight:600;
    margin-bottom:20px;
    position:relative;
    font-family:Tahoma;

}
.h-text2{
    transform:translateY(-100px);
     padding-left:35px;
     font-style:italic;
     font-family:Century;
     font-size: 25px;
}

.h-menu-col{
    width: 70%;
    float:left;
    transform:translateY(-280px);
}
.h-menu li{
    float: left;
}
.h-menu li:not(:last-child){
    margin-right:50px ;
}
.h-menu a{
    color:black;
    text-transform: uppercase;
    transition: 500ms;
}
/to hide the hamburger icon/
.h-menu li .icon{
    display: none;
}
.h-menu-col nav ul li a:hover{
    color: #d64d55;
}
.h-menu-hover::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #d64d55;
    transition:width .3s;
}
.h-menu-hover:hover::after{
       width: 100%;
       transition: 0.3s;
}
.h-slider-col .bx-wrapper{
    box-shadow: none;
    border:0;
    background:transparent;

}
/* ========================================================Home page css ends================================================================== */

/*=============================================================booking page starts============================================================*/

.dFlex{
    display:flex;
    justify-content: center;
    align-items: center;
}
.booking_content{
    display: block;
    text-align: center;
    width: 80%;
    margin:0 auto;
    position:relative;
    margin-top:30px;
    z-index: ;
    transform: translateX(-110px);
}

.booking_info .opt{
       @extend .dFlex;
       display: flex;
       justify-content: flex-start; 
       position:relative;
       top:30px;
       z-index: 1; 
}
.booking_info .opt span{
    @extend .dFlex;
    width:130px;
    height: 60px;
    border-radius:20px;
    border: 1px solid red;
    background-color:#d64d55;
    cursor:pointer;
    align-items: flex-start;
    font-size:20px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px #35838d ;
}
.abc{
    margin-left: -15px;
    z-index: -1;
}
.booking_info .opt span:hover {
    background-color:#94c8d6;
    color:white;
}
.booking_details{
    @extend .dFlex;
    height: 60px;
    border-radius:20px;
    border:1px solid #35838d;
    background-color: white;
    position:relative ;
    z-index: 2;
    padding-top:0 15px;
    margin-top: 50px;
    box-sizing: 1px 1px 20px 0px rgba(50 50 50 .3);
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.booking_details .items{
    display:flex;
    font-size: 10px;
    padding:0 10px 0 20px;
    box-sizing: border-box;
    text-align: left;
}
.booking_details div input{
    background-color: rgba(148, 200, 214,0.5);
}
.booking_details .item .days select{
    background-color: rgba(148, 200, 214,0.5);
    border: 2px solid black;
}
.booking_details .items .fas{
    font-size: 16px;
    margin-top:2px;
    margin-right: 8px;
    color:red;
}

/*==============================================================booking page ends================================ ==============================*/

/* about start*/




#about{
    display: flex;
    flex-direction: row;
    background-color: floralwhite;
    width: 100vw;
    height: 500px;
}

#a1{
    background-color: #d64d55;
    width: 25vw;
    height: 42.01vh;
    margin-left: 9.7vw;
    margin-top: 25.2vh;
}

#a2{
    background-color: #94c8d685;
    width: 50vw;
    height: 49.01vh;
    margin-top: 5.6vh;
    margin-left: -16.27vw;
}

#a3{
    width: 25%;
    height: 49.01vh;
    margin-top: 80px;
    margin-left: -60vw;
    border: 4px solid #35838d;
    background-clip: content-box;
}

#a4{
    width: 40vw;
    height: 87.5vh;
    margin-left: 5vw;        
    margin-top: 15.3vh;
    overflow: hidden;
        }

#a4 p{
            font-family: Caveat;
            font-size: 1.25em;
            color: #5b9eaf;
        }

#a4 h1{
        font-size: 45px;
        font-family: Cinzel;
        font-weight: bolder;
        color: #35838d;
        }

/about end/

/service_page_starts/

#service{
    width: 100%;
    height: auto;
    display: block;
}

#ser{
   font-weight: bolder;
    letter-spacing: 0.3rem;
    padding-top: 30px;
    text-align:center;
    font-family: Cinzel;
    font-size: 70px;
    color:#35838d;
    text-shadow: 3px 3px #d64d55;
}


#ser-ch1{
   display:inline-block;
   margin-left:70px;
   margin-top:60px;
   border-color: #fbfaf1;
   }

.ser-span{
   text-align:center;
   font-weight:bold;
   display:inline-block;
   margin-top:15px;
   font-size:33px;
   
   color: #35838d;
   font-weight: bold;
   }
#ser-img1{
    border:1px #fbfaf1;
    border-radius:10px;
    padding-left:30px;
}
#ser-des{
    text-align:center;
    color: #94c8d6;
    font-weight: bold;
    font-family: Caveat;
    font-size: 20px;
}

.ser-btndv{
    margin-left:40px;
    margin-top:10px;
    
}
.ser-btn{
    border:1px solid #35838d;
    background:none;
    padding:10px 20px;
    font-size:20px;
    font-family:montserrat;
    cursor:pointer;
    margin:10px;
    transition:0.8s;
    position:relative;
    overflow:hidden;    
}

.sbtn1,.sbtn2,.sbtn3,.sbtn4{
    color:#94c8d6;
}
.sbtn1:hover,.sbtn2:hover,.sbtn3:hover,.sbtn4:hover{
    color:#fff;
}
.ser-btn::before{
    content:"";
    position:absolute;
    left:0;
    width:100%;
    height:0%;
    background:#94c8d6;
    z-index:-1;
    transition:0.8s;  
}

.sbtn1::before,.sbtn2::before,.sbtn3::before,.sbtn4::before{
    top:0;
    border-radius:0 0 50% 50%;
}
.sbtn1:hover::before,.sbtn2:hover::before,.sbtn3:hover::before,.sbtn4:hover::before{
    height:180%;
}

#sbtn{
    text-decoration: none;
    color: black;
}
#ser-ch2,#ser-ch3{
   display:inline-block;
   margin-left:80px;
   margin-top:60px;
   border-color: #fbfaf1;
   }
#ser-img2,#ser-img3,#ser-img4{
    border:1px #fbfaf1;
    border-radius:10px;
    padding-left:60px;
    
}
#ser-ch4{
    display:inline-block;
   margin-left:80px;
   margin-top:60px;
   border-color: #fbfaf1;
}

/*=============================================================service_page_ends==================================================================*/

/*===================================================================gallery start============================================================*/

#g-body{
    background-image: white;

}



fieldset{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-color: #35838d;
}

legend{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #d64d55;
}



#gallery1{
    height: 70.02vh;
    width: 70%;
    background-color:rgba(0, 0, 0, .0);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
}

#gallery1 a{
    text-decoration: none;
    color: white;
}

#gallery1 a:visited{
    color: white;
}

.dv_1{
    height: 28.01vh;
    width: 14.32vw;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
}

.dv_1 img{
    width: 100%;
    height: 100%;
}

.content{
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
    font-size: 0.5em;
}

.dv_1:hover .content{
    left: 0;
}

.content button{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
}

.content p{
    border-width: 2px 0px 2px 0px;
    border-color: whitesmoke;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

/gallery2 start/

#gal-section{
    width: 100%;
}

#heading{
    height: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color:#d64d55;
    margin-top: 50px;
    font-size: 40px;
    padding-top: 5px;
    font-family: Cinzel;
    text-shadow: 2px 2px #94c8d6;
}



.gallery{
    height: 28vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;        
}

.par{
    height: auto;
    width: auto;
    display: flex;
}
        
.dv1{
    height: 200px;
    width: 300px;
    background-color: white;
    padding-top: 120px;
    padding-left: 10px;
}
.dv2,.dv_2{
    height: 28vh;
    width: 19.53vw;
    margin-left: -300px;
}

.dv2 img{
    height: 100%;
    width: 100%;
    border: 3px solid whitesmoke;
}

.dv_2 img{
    height: 100%;
    width: 100%;
    border: 3px solid whitesmoke;
}

.dv2:hover{
    border-color: navy;
    border-width: 4px;
    border-style: solid;
    opacity: 0.4;
    animation-name: slideup;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.dv_2:hover{
    border-color: navy;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    opacity: 0.4;
    animation-name: slidedown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes slideup{
    from {transform: translateY(0px);}
    to {transform: translateY(-150px);}
}

@keyframes slidedown{
    from {transform: translateY(0px);}
    to {transform: translateY(150px);}
}

/*========================================================================gallery2 end=========================================================*/

/*======================================================================reviews starts==========================================================*/

.r-testimonials{
    padding: 40px 0;
    font-family: "montserrat" ,sans-serif;
    color:#434343;
    text-align:center;
    background: #fbfaf1;
}

.r-inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.r-border{
    width:160px;
    height: 2px;
    background: #6ab04c;
    margin: 26px auto;
}
.r-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:#5c1a2b;
    margin-bottom: .5rem;
}

.r-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.r-col{
    flex: 33.33%;
    min-width:33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.r-head-reviews{
    background:#fff;
    padding:30px;
}

.r-head-reviews img{
    width:100px;
    height: 100px;
    border-radius: 50%;
}

.r-name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 2px 0;
    background:#fff;
    color:coral;
    font-weight: bold;
}

.r-place{
    font-size: 14px;
    font-style: italic;
    margin-bottom:20px ;
    background:#fff;
    color:darkcyan;
}

.r-rating{
    color: #ddbb17;
    margin-bottom:20px;
    background:#fff;
}
.r-head-reviews p{
    background:#fff;
    color:#5c1a2b;
}

/*=============================================================reviews end================================================================*/



/*=============================================================contact us=====================================================================*/

#contact{
    min-height:50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    height: auto;
    width: 100vw;
}

.contact-section{
   width:100vw;
   align-items: center;
   display: flex;
   justify-content: center;
}
#bg img{
    height:45vh;
    width: 35vw;
    margin-left: -40vw;
    margin-top: 100px;
    border-radius: 50%;
}
.contact-form{
    max-width: 500px;
    margin-right:50px;
    margin-left: 600px;
    margin-top: -400px;
}
.contact-form h2{
    color: #35838d;
    text-align:left;
    font-size: 40px;
    text-transform: uppercase;
    font-family:Cinzel;
    font-weight: bolder;
    margin-bottom: 30px;
    text-shadow: 2px 2px #d64d55;
}
.contact-form .text-box{
    background: #94c8d6;
    color: black;
    border: none;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0 0 0 0.1);
    margin-bottom: 20px;
    opacity: 0.4;
}

::placeholder {
  color: black;
  font-weight: bolder;
}

.contact-form textarea{
    background: #94c8d6;
    color: #fff;
    border: none;
    width:100%;
    padding: 12px;
    font-size: 15px;
    min-height:200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0 0 0 0.1);
    margin-bottom: 20px;
    opacity: 0.8;
}
.contact-form .send-btn{
    float: right;
    background: #94c8d6;
    opacity:0.5;
    color: #fff;
    border: none;
    height: 40px;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing:2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-form .send-btn:hover{
    background:  #35838d;
}
footer{
    margin-top:80px;
    background-color:#5899aa;
    width:100%;
    display: inline-block;
}
 .wrapper{
    display: inline-flex;
    cell-spacing: 20px;
    padding-left: 41.76vw;
}
.wrapper .icon{
    margin: 2px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon span{
    position: relative;
    height: 40px;
    width: 40px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%; 
}
.wrapper .icon:hover span {
    color: #fff;
}
.wrapper .icon span i{
    font-size: 20px;
    line-height: 40px;
}
.wrapper .icon .tooltip{
    position: absolute;
    top: -50px;
    background: #fff;
    color: #fff;
    font-size: 10px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .icon .tooltip:before{
    position: absolute;
    content:"";
    height: 15px;
    width:15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0 0 0 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
    background: #3B5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
    background: #46C1F6;
}

.wrapper .snapchat-ghost:hover span,
.wrapper .snapchat-ghost:hover .tooltip,
.wrapper .snapchat-ghost:hover .tooltip:before{
    background: #ffee58;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
    background: #e1306c;
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before{
    background: #e3362e;
}

.copyright{
    margin-top:20px;
    text-align:center;
    padding-row: 24px;
    font-weight: 500px;
    font-size: 16px;
    color: #fff;
}


/*========================================================================contact end==========================================================*/